.mail{
    width: 80px;
    height: 50px;
    background-color: #9e9c9b;
    align-self: center;
    justify-self: end;
}
span{ 
    width: 80%;
    color: #666666;
    font-size: smaller;  
}

.hole{
    width: 80%;
    height:7px;
    background-color: #848484;
}